<%- include('header') -%>

<h2>About page</h2>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat est nesciunt
  quod consequuntur dolorum quidem fugit sequi, maiores molestiae et temporibus,
  quia beatae? Commodi iste similique sint magnam. Vel, molestias.
</p>
<%- include('footer') -%>
